* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: linear-gradient(to bottom left, white, rgb(167, 29, 29));
  --yellow: linear-gradient(to bottom right, rgb(224, 182, 73), #fa6b19);
  --green: linear-gradient(to bottom right, #2a614f, #51f15f);
  --blue: linear-gradient(to bottom right, #06afec, #7fd6fb);
  --background: linear-gradient(to top right, #101331, black);
}

header {
  background: hsl(0, 0%, 95%);
  padding: 8px;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 0px 5px rgb(168, 168, 168);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(31, 77%, 52%);
  font-family: "Big Shoulders Display", cursive;
}

.nav-list {
  display: flex;
  padding: 8px;
  margin-right: 3rem;
}

.list-item {
  padding: 8px 2rem;
  margin: 0 16px;
  list-style: none;
  background-color: hsl(179, 100%, 13%);
  border-radius: 5px;
}
.list-item:hover {
  background-color: hsl(179, 100%, 20%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: var(--background);
  padding: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 100px 100px 200px;
  grid-template-rows: 180px 90px 110px;
  gap: 10px;
  padding: 1rem;

  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item3 item3 item5 item5";
}

.grid-item1 {
  background-image: var(--red);
  grid-area: item1;
}

.grid-item2 {
  background-image: var(--yellow);
  grid-area: item2;
}

.grid-item3 {
  background-image: var(--green);
  grid-area: item3;
}

.grid-item4 {
  background-color: #ff00ff;
  grid-area: item4;
}

.grid-item5 {
  background-image: var(--blue);
  grid-area: item5;
}
