* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: linear-gradient(to bottom left, white, rgb(167, 29, 29));
  --yellow: linear-gradient(to bottom right, rgb(224, 182, 73), #fa6b19);
  --green: linear-gradient(to bottom right, #2a614f, #51f15f);
  --blue: linear-gradient(to bottom right, #06afec, #7fd6fb);
  --background: linear-gradient(to top right, #101331, black);
}

header {
  background: hsl(0, 0%, 95%);
  padding: 8px;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 0px 5px rgb(168, 168, 168);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(31, 77%, 52%);
  font-family: "Big Shoulders Display", cursive;
}

.nav-list {
  display: flex;
  padding: 8px;
  margin-right: 3rem;
}

.list-item {
  padding: 8px 2rem;
  margin: 0 16px;
  list-style: none;
  background-color: hsl(179, 100%, 13%);
  border-radius: 5px;
}
.list-item:hover {
  background-color: hsl(179, 100%, 20%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: var(--background);
  padding: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 100px 100px 200px;
  grid-template-rows: 180px 90px 110px;
  gap: 10px;
  padding: 1rem;

  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item3 item3 item5 item5";
}

.grid-item1 {
  background-image: var(--red);
  grid-area: item1;
  /* opacity: 0; */
  animation: fadeIn 0.5s ease-in-out;
  -webkit-animation: fadeIn 0.5s ease-in-out;
}

.grid-item2 {
  background-image: var(--yellow);
  grid-area: item2;
  animation: flash 0.5s ease-in-out;
  -webkit-animation: flash 0.5s ease-in-out;
}

.grid-item3 {
  background-image: var(--green);
  grid-area: item3;
  animation: spin 0.5s ease-in-out;
  -webkit-animation: spin 0.5s ease-in-out;
}

.grid-item4 {
  background-color: #ff00ff;
  grid-area: item4;
  animation: flyinX 0.5s ease-in-out;
  -webkit-animation: flyinX 0.5s ease-in-out;
}

.grid-item5 {
  background-image: var(--blue);
  grid-area: item5;
  animation: flyinY 0.5s ease-in-out;
  -webkit-animation: flyinY 0.5s ease-in-out;
}

/* css keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

@keyframes flyinX {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

@keyframes flyinY {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}
